    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">The Junk Food to Fork Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#mission">Mission</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#partners">Partners</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://localhost:3000/users/sign_up">Sign Up</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://localhost:3000/users/sign_in">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>The Junk Food to Fork Project</h1>
                <hr>
                <p>We're a company with a strong distaste for food waste. </p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">What do we stand for?</h2>
                    <hr class="light">
                    <p class="text-faded">Studies have shown that while South Africa produces sufficient food for its population, nearly 48% of the population are food insecure and do not have consistent access to food. At the same time, nearly 12 million pounds of food produced in the country goes to waste annually. Our company allows us to serve as the middlemen that can help lower the food wastage in South Africa. Many of those wasting food simply don’t realize that there is a way to recycle what they cannot use. Our company allows for those with extra food to connect with those who suffer from hunger. We collaborate with restaurants, cafes, supermarkets, dining halls, and households to collect all their still-good food that they are throwing out.  </p>
                    <a href="#sign_up" class="btn btn-default btn-xl">How can you help?</a>
                </div>
            </div>
        </div>
    </section>

    <section id="mission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Mission</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mission-box">
                        <i class="fa fa-4x fa-smile-o wow bounceIn text-primary"></i>
                        <h3>Giving culture</h3>
                        <p class="text-muted">All of the food donated comes at no cost to the people who recieve it. Donations are made out of good will. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mission-box">
                        <i class="fa fa-4x fa-recycle wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Recycling Resources</h3>
                        <p class="text-muted">South Africa makes more than enough food to feed its population. The only way to advance as a country, is to learn how to recycle our natural resources.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mission-box">
                        <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Bettering the Economy</h3>
                        <p class="text-muted">Food waste costs South Africa R 61.5 billion a year. We aim to lower this number so that money can be spent elsewhere. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mission-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Comes From the Heart</h3>
                        <p class="text-muted">Everyone who works with us - volunteers and donators alike - do what they do out of love and the sole desire to stop hunger and food waste.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section id="partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Partners</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>


    <section class="no-padding" id="partners">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="partners-box">
                        <img src="http://i.imgur.com/NAWS1h5.png" class="img-responsive" alt="">
                        <div class="partners-box-caption">
                            <div class="partners-box-caption-content">
                                <div class="project-category text-faded">
                                    Donator
                                </div>
                                <div class="project-name">
                                    Knead Bakery Kloof Street
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="partners-box">
                        <img src="http://media.allyou.net/1/19074/images/2564177/TRJFP_feast_730.jpg.860x5000_q90.jpg" class="img-responsive" alt="">
                        <div class="partners-box-caption">
                            <div class="partners-box-caption-content">
                                <div class="project-category text-faded">
                                    Donator
                                </div>
                                <div class="project-name">
                                    Jerry's Burgers
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="partners-box">
                        <img src="http://blog.africabespoke.com/wp-content/uploads/lolas.jpg" alt="">
                        <div class="partners-box-caption">
                            <div class="partners-box-caption-content">
                                <div class="project-category text-faded">
                                    Donator
                                </div>
                                <div class="project-name">
                                    Lola's Cafe 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="partners-box">
                        <img src="http://www.leicestermercury.co.uk/images/localworld/ugc-images/276308/Article/images/26221507/9717689-large.jpg" class="img-responsive" alt="">
                        <div class="partners-box-caption">
                            <div class="partners-box-caption-content">
                                <div class="project-category text-faded">
                                    Volunteer 
                                </div>
                                <div class="project-name">
                                    Cape Town Soup Kitchen
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="partners-box">
                        <img src="http://media-cdn.tripadvisor.com/media/photo-s/05/c2/39/e3/wellness-warehouse.jpg" class="img-responsive" alt="">
                        <div class="partners-box-caption">
                            <div class="partners-box-caption-content">
                                <div class="project-category text-faded">
                                    Donator
                                </div>
                                <div class="project-name">
                                    Wellness Center
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="partners-box">
                        <img src="https://octopusworkshops.files.wordpress.com/2015/03/11066785_337837106411999_2620144285110076773_n.jpg" class="img-responsive" alt="">
                        <div class="partners-box-caption">
                            <div class="partners-box-caption-content">
                                <div class="project-category text-faded">
                                    Volunteer
                                </div>
                                <div class="project-name">
                                    Township Volunteer Project
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="sign_up">
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Interested in becoming a partner?</h2>
                <a href="http://localhost:3000/users/sign_up" class="btn btn-default btn-xl wow tada">Sign up now!</a>
            </div>
        </div>
    </aside>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to do your part to putting an end to wasted food and starving South Africans? That's great! Give us a call or send us an email if you have any questions and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>071-511-8911</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">junkfoodtofork@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>