<h1> Inventory </h1>

<table>
<% @user.items.each do |item| %>
	<tr>
		<td><%= item.name %>
		</td>
		<td><%= item.quantity %>
		</td>

		<td><%= if current_user.giver == false
			if item.claimed
				Claimed
			else link_to "Claim"
				claim_user_item_path(@user, item) 
			end 
			end%>
		</td>
	</tr>
<% end %>